@page ("/")
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject NavigationManager Nav 
@* Injicerar tjänster för navigering och hantering av användare *@


<h3>Login</h3>

@code 
{
	private string Username { get; set; } = !null; 
	private string Password { get; set; } = !null; 
	private string ErrorMessage { get; set; } = !null;
	// Sätter props för att binda till inputfält i inloggningssidan och ett felmeddelande

	private async Task LoginUser() 
	{
		var result = await SignI

	}



}
