@page "/categories"
@inject NavigationManager Nav

<h3>Kategorier</h3>

<div style="display:flex; flex-direction:column; gap:10px; width:250px;">

    @foreach (var c in CategoryList)
    {
        <button @onclick="() => GoToSub(c.Id)">
            @c.Name
        </button>
    }

</div>

@code {
    private List<CategoryDto> CategoryList = new();

    protected override void OnInitialized()
    {
        CategoryList = new()
        {
            new CategoryDto { Id = 1, Name = "Historia" },
            new CategoryDto { Id = 2, Name = "Geografi" },
            new CategoryDto { Id = 3, Name = "Sport" },
            new CategoryDto { Id = 4, Name = "Teknik" }
        };
    }

    private void GoToSub(int id)
    {
        Nav.NavigateTo($"/subcategory/{id}");
    }

    private class CategoryDto
    {
        public int Id { get; set; }
        public string Name { get; set; }
    }
}