@namespace CyberQuiz.UI.Components.Layout

<nav class="nav-container">
    <div class="nav-left">
        <span class="nav-logo">CyberQuiz</span>
    </div>

    <div class="nav-right">
        <NavLink href="/home" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink href="/categories">Kategorier</NavLink>
        <NavLink href="/login">Logga in</NavLink>
    </div>
</nav>