@namespace CyberQuiz.UI
@using CyberQuiz.UI.Components
@using Microsoft.AspNetCore.Components.Routing

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(CyberQuiz.UI.Components.Layout.MainLayout)" />
    </Found>

    <NotFound>
        <LayoutView Layout="@typeof(CyberQuiz.UI.Components.Layout.MainLayout)">
            <p>Sidan kunde inte hittas.</p>
        </LayoutView>
    </NotFound>
</Router>